.maincontent{
    padding-top: 180px;
    padding-bottom: 209px;
    background-color: #f5f7f9;
    color: #12344d;
    display: flex;
    flex-direction: column;
    font-family: "Rubik",sans-serif;
    font-family: "Open Sans",sans-serif;
    font-family: "Lato",sans-serif;
    font-family: "PT Sans",sans-serif;
    font-family: "Noto Sans Display",sans-serif;
    font-family: "Poppins",sans-serif!important;
    font-size: 14px;
    font-weight: 400;
    height: 100%;
    position: relative;
    width: 100%;
}
.card {
    border: 1px solid #e4e4e4!important;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1019607843);
}

/* .border-0 {
    border: 0!important;
} */
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: initial;
    border: 1px solid rgba(0,0,0,.05);
    border-radius: 0.375rem;
}

.input-groupone {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 85%;
    margin-left: -40px;
}

.fontawesomeone {
    margin: -4% -18% -14px !important;
    margin-left: -139px !important;
    width: 16px !important;
}

.inputclasstwo{
    padding-left: 45px !important;
    margin-left: 18% !important;
    margin-top: -21px !important;
    display: flex !important;
    width: 322% !important;
    height: 47px !important;
}